*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.App{
    color: #f0f0f0;
    min-height: 100vh;
    width: 100%;
    margin: 0;
    background: radial-gradient(circle at center, #880627 0%,    #4a0315 45%,   #1a0106 75%,   #000019 100%  );
}