.tic-table{
    display: flex;
    flex-direction: row;
    
    justify-content: space-around;
    align-items: center;
    padding: 20px;

}

.board{
    display: flex;
    flex-direction: column;
    border: 1px solid #FFA500;
    border-radius: 9px;
    padding: 3rem;
    align-items: center;
}

.board h2{
    margin-bottom: 2rem;
}

.board-row{
    display: flex;
    flex-direction: row;
}

.winner{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid #FFA500;
    border-radius: 10px;
    padding: 25px;
}

.winner h2{
    color: #FFA500;
    margin-bottom: 20px;
    
}

.status{
    font-size: 4rem;
}