.leader_board{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    gap: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
    border: 2px solid #FFA500;
    border-radius: 10px;
}
.leader_board h1{
    color: #FFD700;
    text-shadow: 
    0 0 1px #fff,            
    0 0 10px #FFA500,        
    0 0 10px #FFA500,        
    0 0 40px #FF4500,        
    0 0 60px #880627;
    font-weight: 600;
    font-size: 3rem;
}

.people{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin:10px;
}

.individual{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 16rem;
    justify-content: center;
    align-items: center;
    border: 1px solid #FFA500;
    border-radius: 9px;
    padding: 10px;
}