
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card{
    width: 400px;
    height: 300px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    display: flex;
    padding: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}